.containershow {
    position: fixed;
    bottom: 1.65%;
    left: 16%;
    width: 20%;
    height: 18%;
    border-style: outset;
    border-color: black;
    background-color: rgba(10,10,10,0.5);
    z-index: 0;
}.containershow * {
    z-index: 0;
}
.text {
    margin: 0;
}
#mkrtab {
    font-size: 20px;
    color: white;
    margin: 15px;
    text-align: left;
}
#heading {
    margin-top: 0;
    font-family: "Brush Script MT", Times, cursive;
    font-size: 40px;
    text-align: center;
}
#img {
    height: 18.05%;
    z-index: -1;
    position: fixed;
    bottom: 1.95%;
    left: 16.15%;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0.5%, 0% 0.5%);
}

#enterRace {
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 40%;
}
#enterRace::before {    
    content: "";
    background-image: url('stuff/noise.gif');
    background-size: cover;
    background-repeat: repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.65;
}
#enter1 {
    position: relative;
    background-color: rgb(10,10,10);
    opacity: 1;
    color: rgb(249, 166, 32);
    width: 100%;
    height: 50%;
    font-size: 50px;
    padding: 15px;
    padding-left: 300px;
    padding-bottom: 0;
    clip-path: polygon(180px 235px, 1500px 235px, 1400px 50px, 80px 50px);
}
#line {
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: 5px solid black;
}
#enter2 {
    position: absolute;
    background-color: rgb(132, 140, 142);
    color: rgb(220, 247, 99);
    font-size: 30px;
    line-height: 0;
    left: 300px;
    padding: 0;
    padding-left: 170px;
    padding-right: 520px;
    margin: 0;
    border-radius: 0;
    clip-path: polygon(100px 60px, 700px 60px, 668px 0, 68px 0);
}

#exitRace {
    background-color: rgba(10,10,10,0.5);
    position: fixed;
    top: 15%;
    left: 0;
    width: 100%;
    height: 40%;
}
#exit1 {
    position: relative;
    color: rgb(249, 166, 32);
    background-color: rgb(10,10,10);
    width: 50%;
    height: 50%;
    font-size: 50px;
    padding: 15px;
    padding-left: 300px;
    padding-bottom: 0;
    clip-path: polygon(180px 235px, 1200px 235px, 1100px 50px, 80px 50px);
}
#line2 {
    position: relative;
    width: 100%;
    height: 0;
    border-bottom: 5px solid black;
}
#exit2 {
    position: relative;
    color: rgb(220, 247, 99);
    background-color: rgb(132, 140, 142);
    left: 20%;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 30px;
    clip-path: polygon(100px 60px, 600px 60px, 568px 0, 68px 0);
}
#exit3 {
    position: relative;
    color: black;
    background-color: rgba(10,10,10,0.5);
    left: 0;
    width: 100%;
    margin-top: 130px;
    font-size: 20px;
    text-align: left;
}
div.scroll > div.text {
    white-space:nowrap;
    display:inline;
    width:auto;
}
#results {
    table-layout: fixed;
    position: fixed;
    width: 80%;
    background-color: rgba(10, 10, 10, 0.775);
    left: 10%;
    right: 10%;
    top: 15%;
    padding-bottom: 15px;
    zoom: 200%;
}
th {
    text-align: left;
}
#tabCaption {
    background-color: rgb(249, 166, 32);
    clip-path: inset(2px 0px 2px 0px round 15px 15px 0 0);
}
td:nth-child(1) {
    color: lightslategray;
    text-align: center;
}
td:not(:first-child) {
    border-bottom: 1px solid black;
}